{#
/**
 * @file
 * Spotify results block.
 *
 * Available variables:
 * - artists: Spotify API artist results.
 *  - name: The artist name.
 *  - id: A spotify artist ID.
#}

{{ attach_library('cyber_duck_spotify/cyber_duck_spotify') }}

<div class="spotify-data">
  {% if artists %}
    {% for artist in artists %}
      {% set artist_url_segment = artist.name|lower|replace({' ': '-'}) %}
      <a class="spotify-data--artist" href="/artist/{{artist_url_segment}}?id={{artist.id}}" title={{ artist.name }}>{{ artist.name }}</a>
   {% endfor %}
   {% else %}
     {{ "No results found"|t }}
  {% endif %}
</div>