{#
/**
 * @file
 * Spotify artist page.
 *
 * Available variables:
 * - artist: Spotify API artist result.
 *  - name: artist name
 *  - id: Spotify artist id
 *  - genres: artist related genres
 *  - image: artist related image
 *  - followers: how many followers the artist has (twitter/instagram?)
 *  - spotify_external_url: url to this artist in Spotify
 * - albums: an array of this artists albums
 *  - name: the album name
 *  - url: url to this album in Spotify
 *  - artwork: the album artwork
#}
{{ attach_library('cyber_duck_spotify/cyber_duck_spotify') }}

<div class="spotify-data--page spotify-data-artist">
  {% if artist %}
    <h2 class="spotify-data-artist--name">{{ artist.name }}</h2>
    <div class="spotify-data-artist--image">
      <img src="{{artist.image}}" alt="{{ artist.name }}">
    </div>
    <div class="spotify-data-artist--genres">Genres:{{ artist.genres }}</div>
    <div class="spotify-data-artist--followers">
      {{ "Spotify followers:"|t }} {{artist.followers}}
    </div>
    <div class="spotify-data-artist--spotify">
      <a href="{{artist.spotify_external_url}}" title="{{ artist.name}}">{{ "Open artist in Spotify"|t }}</a>
    </div>
    {% if albums %}
      <h3>{{ "Albums"|t }}</h3>
      <div class="spotify-data-artist--albums">
        {% for key, album in albums %}
          <a href="{{album.url}}" target="_blank" title="{{key}}">
            <img alt="{{album.key}}" src="{{album.artwork}}">
          </a>
        {% endfor %}
      </div>
    {% endif %}
  {% else %}
    {{ "No results found"|t }}
  {% endif %}
</div>